* {
 margin: 0;
 padding: 0;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
}

.header {
  background-color: #47b39d;
}

.header-section {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: auto;
  height: 90px;
  align-items: center;
}

.section {
  color:white
}

.logo {
  font-size: 24px;
}

.section:first-child {
  margin-right: auto;
}

.content {
  padding: 0 10px;
}

.mainheader {
  background-color: #41abb4;
  color: white;
  height: 937px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-main {
  width: 40%;
  margin: auto;
}

.mainheadertext {
  font-size: 50px;
  text-align: center;
  padding-bottom: 5%;
}

.mainheadersubtext {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 20%;
}

.article {
  font-size: 25px;
  text-align: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 25px 0;
  margin-bottom: 100px;
}

.little-img {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.article-section {
  padding-right: 30px;
}

.button {
  border: solid 1px;
  text-align: center;
  background-color: green;
  color: white;
  width: 70%;
  margin: 10px 0;
}

.block {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.secondsection1 {
  display: flex;
  justify-content: flex-end;
  border-bottom: gray solid 1px;
}

.secondsection2 {
  display: flex;
  justify-content: flex-start;
  border-bottom: gray solid 1px;
}

.container {
  padding-left: 8%;
}

.tag {
  width: 4%;
  text-align: center;
  background-color: green;
  color: white;
  padding-top: 50px;
}

.container-title {
  padding: 40px 0 15px;
  color: green;
}

.container-subtitle {
  color: green;
}

.container-description {
  width: 70%;
  padding: 40px 0;
}

.container-btn {
  border: solid;
  text-align: center;
  width: 20%;
  padding: 10px 0;
  background-color: orangered;
  color: white;
}
/* サービス紹介 */
.service-section {
  display: flex;
}

.service-section :first-child {
  border-right: solid gray 0.5px;
}

.service-block {
  width: 50%;
  padding: 90px 0;
  text-align: center;
}

.service-title {
  color: #47b39d;
  font-size: 40px;
}

.service-subtitle {
  color: #47b39d;
  padding: 20px 0;
}

.service-btn {
  border: solid;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 10px 0;
  background-color: #47b39d;
  color: white;
}

.company-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.company-block {
  width: 100%;
  flex-direction: row;
}

.company-block :last-child {
  border-bottom: solid gray 0.5px;
}

.company-section {
  display: flex;
  width: 40%;
  margin: auto;
  padding: 15px 0;
  border-top: solid gray 0.5px;
}

.company-section p {
  font-size: 20px;
}

.company-text {
  width: 30%;
  margin-left: 5%;
}

.company-subtext {
  width: 70%;
}

.inquiry-background {
  background-color: #47b39d;
  padding: 100px 0;
}

.inquiry-background p {
  color: white;
}

.inquiry-btn {
  text-align: center;
  width: 10%;
  padding: 10px 0;
  margin: auto;
  background-color: black;
  color: white;
}

.form {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

input.hoge {
  width: 715px;
}

.fooder {
  background-color: #000033;
  color: white;
  padding: 75px 0;
}

.fooder-title {
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
  font-size: 25px;
  border-bottom: solid gray 0.5px;
}

.fooder-section {
  width: 60%;
  margin: auto;
  padding-top: 30px;
}

.fooder-block {
  display: flex;
  width: 40%;
}

.fooder-section-container {
  width: 45%;
  padding-left: 5%;
}

.fooder-logo {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 30px 0;
}